@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.hero {
  background-color: rgb(251, 247, 247);
}

.background-hero-image {
  background: url("../../assets/images/claire-mobile-home.png");
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include tablet {
    background: url("../../assets/images/claire-hero-tablet.png");
    display: block;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include desktop {
    background: url("../../assets/images/claire-hero2.jpg");

    background-size: cover;
    width: 100%;
    height: 100vh;
  }
}

.footer-nav-tablet {
  display: none;

  @include tablet {
    display: contents;
  }
}
